# Binaries
dist/
urnet-client
bin/
out/
build/

rust/**/target/
rust/**/Cargo.lock
# Editors
.vscode/
.idea/
.fleet/

# OS
.DS_Store

# Go
*.test
coverage.out
*.coverprofile
coverage/
go.work
go.work.sum

# Env
.env
.envrc